

 <h3>What Designers Does My Story Carry?</h3>
 		<%= form_tag store_path(:id), method: :get do |f| %>
    <%= select_tag(:store_id, options_for_select(@stores.map{ |s| [s.name, s.id]}) ) %>
    <%= submit_tag "Show Designers" %>
  <% end %>
