<h2>Do you want to know which stores in Boston carry your favorite designer?<h2>

<h3>Try the <%= link_to 'Designer Search', designer_searches_path %></h3>


<h2>Do you want to know which designers your favorite store carries?<h2>


<h3>Try the <%= link_to 'Store Search', store_searches_path %></h3>
