/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

body {
	background-image:image-url('1060.jpg');
	-moz-background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-repeat:no-repeat;
	font-family:Goudy Old Style, Garamond, Big Caslon, Times New Roman, serif;
	color: #7D0541;
	text-align:center;
}

.page-header h1 {
	font-size: 50px;
}

h1 small {
	font-size: 24px;
	color: #640434
}

a {
	color: white;
}

a:hover {
	color: #E7A1B0;
	text-decoration:none;
}






