

<h1>Store Information:</h1>
<% @stores_yelp.each do |store| %>
<h3>Store Name: <%= store["name"] %> </h3>
<p>Yelp Rating: <%= store["rating"] %></p>
<p>Phone Number: <%= store["display_phone"] %></p>
<p>Yelp Page: <%= link_to store["url"], store["url"], target: '_blank' %></p>
<% end %>

