<h1>Stores:</h1>
<% @stores_yelp.each do |store| %>
<h3> <%= store["name"] %> </h3>
<h3> <%= store["rating"] %></h3>
<h3> <%= link_to store["url"] %></h3>
<h3> <%= store["display_phone"] %></h3>
<% end %>

