<h1>Stores:</h1>
<% @stores.each do |store| %>
<h3> <%= store.name %> </h3>
<h3> <%= @response["rating"] %></h3>
<h3> <%= @response["review_count"] %></h3>
<h3> <%= @response["display_phone"] %></h3>
<% end %>
